.hidden {
    display: none;
}

.button-blue {
    background-color: blue;
}
.button-red {
    background-color: red;
}
.button-green {
    background-color: green;
}
.active {
    background-color: #ffff;
}
.tab-content-item {
    display: none;
}
.tab-content-item.active {
    display: block;
}